body{
    display: flex;
}
.maindiv{
    height: 700px;
    width: 50%;
    border: 1px solid;

}

#div1{
    background-color: rgb(12, 2, 2);
}

#div2{
    background-color: antiquewhite;
}

.heading{
    color: rgb(255, 126, 5);
}

.attribute{
    color: white;
}

.form-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }

.form-col {
      flex: 1;
    }

.n {
      width: 80%;
      margin-bottom: 10px;
      height: 30px;
    }

input[type="submit"],
input[type="reset"] {
      margin-top: 15px;
      margin-right: 10px;
    }