body{
    display: flex;
}
.maindiv{
    height: 700px;
    width: 50%;
    border: 1px solid;

}

#div1{
    background-color: rgb(12, 2, 2);
}

#div2{
    background-color: antiquewhite;
}

.heading{
    color: rgb(255, 126, 5);
}

.attribute{
    color: white;
}

.form-col{
    margin-left: 2%;
}